.panel.panel-default
  .panel-heading
    %h4.panel-title
      .btn-group
        %a.btn.btn-primary{ href: vm_path( @vm ) }
          %span.glyphicon.glyphicon-chevron-left
        %a.btn.btn-default{ href: "#" }
          %b= "Editing #{@vm.name}"
        %a.btn.btn-danger{ href: vm_path( @vm ), rel: 'nofollow', :'data-method' => 'delete', :'data-confirm' => 'Are you sure?' }
          %span.glyphicon.glyphicon-trash

= render 'form'
