%h1
  Categories
  %a.super.btn.btn-primary.btn-xs{ href: new_category_path }
    %span.glyphicon.glyphicon-plus

%p#notice= notice

.table-responsive
  %table.table.table-striped
    %thead
      %th Name
      %th Color
    %tbody
      - @categories.each do |category|
        %tr
          %td
            %a{ href: category_path( category ) }= category.name
          %td
            .cat_box{ style: "background-color:#{category.color}" }
            = category.color
