.panel.panel-default
  .panel-heading
    %h4.panel-title
      .btn-group
        %a.btn.btn-primary{ href: categories_path }
          %span.glyphicon.glyphicon-chevron-left
        %a.btn.btn-default{ href: "#" }
          %b  New Rack

= render 'form'
